.footer {
  background-color: #f9f9f9; /* Gris muy claro */
  padding: 4vh 16vw;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.logoContainer {
  text-align: left; /* Logo a la izquierda */
  margin-bottom: 10px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  width: 3vw;
  height: auto;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  min-width: 150px;
  margin: 10px;
}

.columnTitle {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-family: var(--font-sf-pro-bold);
}

.link {
  display: block;
  color: #666;
  text-decoration: none;
  margin-bottom: 10px;
  font-family: var(--font-sf-pro-regular);
}

.link:hover {
  color: #383838;
}

@media (max-width: 768px) {
  .footer {
    padding: 4vh 10vw;
  }

  .logo {
    width: 9vw;
  }

  .logoContainer {
    text-align: left; /* Mantener el logo a la izquierda en móvil */
  }
  
  .linksContainer {
    flex-direction: row; /* Mantener las columnas una al lado de la otra */
    justify-content: space-between;
    width: 100%; /* Asegura que ocupe todo el ancho */
  }
  
  .column {
    flex: 1 1 45%; /* Asegura que las columnas ocupen el 45% del ancho cada una */
    margin: 10px 0; /* Ajusta el margen para dispositivos móviles */
  }
}